@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600';
@import './colors.less';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
  outline: 0;
  border: 0;
  background: none;
  &:focus {
    outline: 1px dashed lighten(@blue, 20%);
  }
}
.main {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.wrapper {
  font-family: 'Source Sans Pro', sans-serif;
  background: @greyPrimary;
  min-height: 100vh;
  color: @black;
}
.header {
  background-color: #557ab4;
  color: @white;
}
.header-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 13.5px;
}
.logo {
  font-size: 18px;
}
.header__aside {
  position: absolute;
  right: 8px;
  display: flex;
  align-items: center;
}
.header__notifications {
  margin: 0 20px 0;
}
.notifications {
  position: relative;
}
.notifications__amount {
  position: absolute;
  top: -5px;
  right: 0px;
  font-size: 10px;
  cursor: pointer;
  padding: 2px 3px;
  text-align: center;
  border-radius: 50%;
  background: @orangeAlert;
}
.username {
  font-size: 17.5px;
  letter-spacing: 0.5px;
}

.content {
  padding: 26px 0 30px;
}
.content-wrapper {
  display: flex;
  justify-content: space-between;
}
.content__heading {
  font-size: 28px;
  margin-bottom: 10px;
}

.list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid @greySecondary;
  background: white;
  border-radius: 6px;
  padding: 7px 9px;
  margin-bottom: 6px;
  &:last-child {
    margin-bottom: 0;
  }
}

/* people */
.content__people {
  width: 22.2%;
}
.content__people-heading {
  margin-left: 67px;
}
.people {
  padding-right: 20px;
  border-right: 1px solid #979797;
}
.people__recent {
  margin-bottom: 20px;
}
.people__heading {
  position: relative;
  font-size: 18px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 2px solid @grey4;
}
.people__heading-icon {
  position: absolute;
  bottom: 3px;
  margin-left: 6px;
}
.user__info {
  display: flex;
  align-items: center;
}
.user__img {
  max-width: 16px;
  min-width: 16px;
  height: 16px;
  margin-right: 7px;
  img {
    width: 100%;
    height: 100%;
  }
}
.user__name {
  font-size: 15px;
  font-weight: 600;
}
.user__controls {
  display: flex;
  align-items: center;
}
.user__controls-item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

/* my favourites */
.content__favourites {
  padding: 0 18px 0 18px;
  width: 54.2%;
}
.content__favourites-heading {
  position: relative;
}
.content__favourites-heading-icon {
  position: absolute;
  bottom: 1px;
  margin-left: 7px;
}

/* schools */
.schools {
  margin-bottom: 20px;
}
.schools__header {
  padding-bottom: 5px;
  border-bottom: 2px solid @sienna;
  position: relative;
  margin-bottom: 10px;
}
.schools__header-btn {
  position: absolute;
  top: -5px;
  right: 0;
}
.school__main {
  display: flex;
  align-items: center;
}
.school__icon {
  margin-right: 9px;
}
.school__info {
  font-weight: 600;
  font-size: 15px;
}

/* materials */
.materials {
  margin-bottom: 20px;
}
.materials__header {
  padding-bottom: 5px;
  border-bottom: 2px solid @paleGreen;
  position: relative;
  margin-bottom: 10px;
}
.material__main {
  display: flex;
  align-items: center;
}
.material__icon {
  margin-right: 9px;
}
.material__info {
  font-weight: 600;
  font-size: 15px;
}

/* channels */
.channels {
  margin-bottom: 20px;
}
.channels__header {
  padding-bottom: 5px;
  border-bottom: 2px solid @mistyRose;
  position: relative;
  margin-bottom: 10px;
}
.channel__main {
  display: flex;
  align-items: center;
}
.channel__icon {
  margin-right: 9px;
}
.channel__info {
  font-weight: 600;
  font-size: 15px;
}

/* my profile */
.content__profile {
  width: 23%;
}
.content__profile-heading {
  text-align: center;
  padding: 0 10px 0 22px;
}
.content__profile-wrapper {
  padding: 0 10px 0 22px;
  border-left: 1px solid #979797;
}

/* user-profile */
.profile-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid @greySecondary;
  border-radius: 6px;
  padding: 10px 10px 13px;
  background: white;
}
.profile-user__name {
  font-size: 20px;
  margin-bottom: 7px;
}
.profile-user__img {
  max-width: 80px;
  min-width: 80px;
  height: 80px;
  img {
    width: 100%;
    height: 100%;
  }
}
.profile-user__description {
  font-size: 15px;
  font-weight: 600;
  margin: 11px 0 16px;
}
.profile-user__settings-btn {
  padding-left: 32px;
  color: @blue;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  background-image: url('../images/community/settings.svg');
  background-size: 26px;
  background-repeat: no-repeat;
}

/* profile-apps */
.profile-apps {
  margin-top: 20px;
}
.profile-apps__heading {
  text-align: center;
  margin-bottom: 10px;
}
.profile-apps__list {
  display: flex;
  flex-direction: column;
}
.profile-app__item {
  border: 1px solid @greySecondary;
  border-radius: 6px;
  background: white;
  padding: 10px 63px;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}
.profile-app__logo {
  width: 113px;
  height: 45px;
  text-indent: -9999px;
}

/* profile-accounts */
.profile-accounts {
  margin-top: 20px;
}
.profile-accounts__heading {
  text-align: center;
  margin-bottom: 10px;
}
.account__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  border: 1px solid @greySecondary;
  padding: 10px;
  margin-bottom: 10px;
  background: white;
  &:last-child {
    margin-bottom: 0;
  }
}
.account__main {
  display: flex;
  align-items: center;
}
.account__icon {
  margin-right: 5px;
}
.account__name {
  font-weight: 600;
  font-size: 18px;
}

/* buttons */
.btn_primary {
  border-radius: 6px;
  background: @blue;
  color: white;
  padding: 6px 13px;
  font-size: 14px;
  letter-spacing: .1px;
}
.nav-grid-btn {
  width: 21px;
  height: 21px;
  background: url('../images/community/grid.svg');
  background-size: cover;
  text-indent: -9999px;
}
.notifications-btn {
  width: 27px;
  height: 28px;
  background: url('../images/community/notifications.svg');
  background-size: cover;
  text-indent: -9999px;
}
.save-btn {
   width: 16px;
   height: 16px;
   background: url('../images/community/save.svg');
   background-size: cover;
   text-indent: -9999px;
}
.chat-btn {
  width: 16px;
  height: 15px;
  background: url('../images/community/chat.svg');
  background-size: cover;
  text-indent: -9999px;
}
.edit-btn {
  padding-left: 24px;
  background-image: url(http://localhost:63342/edookit/styles/../images/pen.svg);
  background-size: 11px;
  background-repeat: no-repeat;
  background-position: 9px center;
}
.open-btn_brown {
  width: 16px;
  height: 16px;
  background: url('../images/community/enter_brown.svg');
  background-size: cover;
  text-indent: -9999px;
}
.open-btn_green {
  width: 16px;
  height: 16px;
  background: url('../images/community/enter_green.svg');
  background-size: cover;
  text-indent: -9999px;
}
.open-btn_pink {
  width: 16px;
  height: 16px;
  background: url('../images/community/enter_pink.svg');
  background-size: cover;
  text-indent: -9999px;
}
.connect-btn {
  font-size: 12px;
}

/* icons */
.heart-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('../images/like_checked.svg');
  background-size: cover;
}
.save-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url('../images/community/save.svg');
  background-size: cover;
}
.school-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('../images/community/school.svg');
  background-size: cover;
}
.material-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url('../images/community/book.svg');
  background-size: cover;
}
.channel-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  background: url('../images/community/chat.svg');
  background-size: cover;
}
.account-icon {
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url('../images/community/arrow-right.svg');
  background-size: cover;
}
.accepted-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../images/community/accepted.svg');
  background-size: cover;
}

.logo-schoolpicker {
  background-image: url('../images/community/schoolpicker-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.logo-share {
  background-image: url('../images/community/share-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.logo-chat {
  background-image: url('../images/community/chat-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
}

