@import './colors.less';

.profile-nav {
  display: inline-block;
  margin-top: 20px;
  list-style: none;
  font-weight: 600;
}
.profile-nav__item {
  margin-bottom: 10px;
  &:nth-child(1) {
    .profile-nav__link:before {
      background: @slateBlue;
    }
  }
  &:nth-child(2) {
    .profile-nav__link:before {
      background: @sienna;
    }
  }
  &:nth-child(3) {
    .profile-nav__link:before {
      background: @goldenrod;
    }
  }
  &:nth-child(4) {
    .profile-nav__link:before {
      background: @mistyRose;
    }
  }
  &:nth-child(5) {
    .profile-nav__link:before {
      background: @paleGreen;
    }
  }
  &:nth-child(6) {
    .profile-nav__link:before {
      background: @azure;
    }
  }

}
.profile-nav__link {
  display: flex;
  align-items: center;
  font-size: 19px;
  color: @black;
  text-decoration: none;
  &_active {
    color: @blue;
  }
  &:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 40px;
    background: @goldenrod;
    margin-right: 15px;
    border-radius: 4px;
  }
}

.profile-info {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  margin-left: 20px;
}
.school-info {
  display: flex;
  border-radius: 6px;
  border: 1px solid @greySecondary;
  background: white;
  margin-top: 10px;
}
.school-info__aside {
  padding-bottom: 10px;
}
.school-info__photo {
  position: relative;
  border-right: 1px solid @greySecondary;
  border-bottom: 1px solid @greySecondary;
  width: 235px;
  height: 235px;
  img {
    border-radius: 6px 0 0 0;
    width: 100%;
    height: 100%;
  }
}
.school-info__photo-edit {
  position: absolute;
  top: 0;
  right: 0;
}
.school-info__contacts {
  margin-top: 10px;
  padding: 7px 10px 0;
  font-size: 15px;
  border-right: 1px solid @greySecondary;
}

.contacts__heading {
  text-align: center;
  font-size: 20px;
  margin-bottom: 9px;
}
.contacts__title {
  font-weight: 600;
}
.contacts__data {
  margin-bottom: 12px;
}
.school-info__main {
  width: 100%;
  padding: 15px;
}
.school-info__main-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.school-info__light {
  display: flex;
  justify-content: space-between;
}
.school-info__status {
  padding-right: 5px;
  min-width: 48%;
}
.school-info__status-heading {
  color: @redAlert;
}
.school-info__status-title {
  font-weight: 600;
  display: inline-block;
}
.school-info__status-data {
  margin-left: 3px;
  display: inline-block;
}
.light-pluses {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.light-pluses__item {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 5px;
  &:before {
    content: '';
    display: inline-block;
    margin-right: 5px;
    background: @azure;
    width: 15px;
    height: 15px;
  }
}
.school-info__description {
  margin-top: 35px;
  ul {
    margin: 20px 0 20px 25px;
  }
  li {
    margin-bottom: 5px;
  }
}

.profile-box {
  margin-top: 20px;
}
.profile-heading {
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    border-radius: 6px;
    margin-top: 5px;
  }
}
.school-stats {
  .profile-heading:after {
    background: @sienna;
  }
}
.school-events {
  .profile-heading:after {
    background: @goldenrod;
  }
}
.school-gallery {
  .profile-heading:after {
    background: @mistyRose;
  }
}
.school-map {
  .profile-heading:after {
    background: @paleGreen;
  }
}
.school-discussion {
  .profile-heading:after {
    background: @azure;
  }
}

/* school-stats */
.school-stats__items {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.school-stats__item {
  width: 30%;
}
.school-stats__heading {
  margin-bottom: 5px;
}
.school-stats__graph {
  width: 100%;
  height: 160px; /*TODO REMOVE THIS */
  border: 1px solid @greySecondary;
  border-radius: 6px;
  padding: 10px;
  background: white;
}

/* school-events */
.school-events__items {
  margin: 20px 0;
}
.school-event {
  display: flex;
  border: 1px solid @greySecondary;
  border-radius: 6px;
  background: white;
  padding: 14px;
  margin-bottom: 15px;
  &:last-child {
    margin-bottom: 0;
  }
}
.school-event__img {
  width: 138px;
  height: 138px;
  img {
    width: 100%;
    height: 100%;
    border: 1px solid @grey4;
    border-radius: 6px;
  }
}
.school-event__main {
  margin: 5px 0 0 15px;
}
.school-event__title {
  font-size: 31px;
  font-weight: 600;
}
.school-event__date {
  font-size: 20px;
  font-weight: 600;
}
.school-event__description {
  font-size: 18px;
  margin-top: 11px;
  max-width: 660px;
}